<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center;">
    <h1 class="text-success font-italic mb-5">Find Your Perfect Match</h1>
    <p class="lead text-primary font-italic font-weight-bold mt-200 mb-5">Come on in to view your match.. All you need is to sign up </p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2 "(click)="registerToggle()" >Register</button>
    </div>

  </div>
  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
       <app-register (cancelRegister)="cancelRegisterMode($event)"  ></app-register>
      </div>
    </div>
  </div>


</div>
